* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(depositphotos_52467393-stock-illustration-group-of-people-asking-questions.jpg) no-repeat center center/ contain;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.accordion {
    background-color: bisque;
    opacity: 0.9;
    border: 2px solid bisque;
    border-radius: 10px;
    width: 600px;
    height: fit-content;
    padding: 10px;
}

.accordion .accordion-title {
    font-size: larger;
    font-weight: bolder;
    margin-top: 10px;
    text-align: center;
}

.accordion .accordion-content {
    margin-top: 30px;
}


.accordion-item {
    margin: 25px;
}


.question {
    font-size: smaller;
    position: relative;
}

.question::after {
    content: '+';
    position: absolute;

    right: -3px;
}

hr {
    margin-top: 8px;
}

.plus {
    font-size: larger;
}



.answer {
    width: 100%;

    height: 0px;
    overflow: hidden;
}

.reveal {
    transition-duration: 1s;
    display: block;
}